<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {{ if .Params.nofollow }}
     <meta name="robots" content="noindex" />
     {{ end }}
     <title>{{ .Title }}</title>
     {{ template "_internal/opengraph.html" . }}
     {{ partial "headers/scripts.html" . }}
     <link rel="stylesheet" id="child-style-css" href="https://metricly-f20a6.firebaseapp.com/styles.css" type="text/css" media="all">
</head>
