<!-- Fullstory -->
<script>
window['_fs_debug'] = false;
window['_fs_host'] = 'fullstory.com';
window['_fs_org'] = '6FTNC';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
    if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
    g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
    o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
    g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
    g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
    g.consent=function(a){g("consent",!arguments.length||a)};
    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
    g.clearUserCookie=function(){};
})(window,document,window['_fs_namespace'],'script','user');
</script>

<!-- Segment Snippet -->
<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(n,o);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
  analytics.load("Z019VdyfJ1LDKgU2uKBMp61JwXlMgSB1");
  analytics.page();
  }}();
</script>

<!-- Google Site Verification -->
<meta name="google-site-verification" content="yR24klkgwFxUbkUOMI4k52SRAf-Ywb9LVZke1jheAx4" />

<!-- Set Cookie -->
<script type="text/javascript">
//Cookie Code: Grab the URL and parse
function getUrlVars() {
var vars = {};
var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
vars[key] = value;
});
return vars;
}

//Find that value in the URL
function setCookie() {
var aname = "utm_source";
var avalue = getUrlVars()["utm_source"];

var bname = "utm_medium";
var bvalue = getUrlVars()["utm_medium"];

var cname = "utm_campaign";
var cvalue = getUrlVars()["utm_campaign"];

var dname = "utm_keyword";
var dvalue = getUrlVars()["keyword"];


var ename = "utm_content";
var evalue = getUrlVars()["utm_content"];

//set the cookie
if (avalue != undefined) {
  document.cookie = aname+"="+avalue+";max-age=" + 60*60*24*30 + ";domain=.metricly.com;path=/";
}
if (bvalue != undefined) {
  document.cookie = bname+"="+bvalue+";max-age=" + 60*60*24*30 + ";domain=.metricly.com;path=/";
}
if (cvalue != undefined) {
  document.cookie = cname+"="+cvalue+";max-age=" + 60*60*24*30 + ";domain=.metricly.com;path=/";
}
if (dvalue != undefined) {
  document.cookie = dname+"="+dvalue+";max-age=" + 60*60*24*30 + ";domain=.metricly.com;path=/";
}
if (evalue != undefined) {
  document.cookie = ename+"="+evalue+";max-age=" + 60*60*24*30 + "'domain=.metricly.com;path=/";
}
}

function getCookie(name){
    var pattern = RegExp(name + "=.[^;]*")
    matched = document.cookie.match(pattern)
    if(matched){
        var cookie = matched[0].split('=')
        return cookie[1]
    }
    return false
}

function buildUTMurl() {

var source = getCookie("utm_source")
var medium = getCookie("utm_medium")
var campaign = getCookie("utm_campaign")
var keyword = getCookie("utm_keyword")

var utmURL = "https://app.netuitive.com/signup/?utm_source=" + source + "&utm_medium=" + medium + "&utm_campaign=" + campaign + "&utm_keyword=" + keyword;
window.location = utmURL;
}
</script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno" crossorigin="anonymous">
